# Ignore Python bytecode and cache
__pycache__/
*.py[cod]

# Ignore IDE settings directories
.idea/

# You can also ignore specific directories or files, for example:
activities/__pycache__/
hotels/__pycache__/
location/__pycache__/
mail_and_favourites/__pycache__/
weather/__pycache__/
